<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Hello, World!</h1>

    <h2 class="fancy-font highlight">Web Design Is My <em>Passion</em>!!!</h2>

    <h2>I'm Learning Flask</h2>

    <p>I like <em>flask</em> <strong>because</strong>:</p>

    <ul>
        <li>It's written in Python</li>
        <li class="highlight">The name is clever</li>
        <li>It makes writing web servers easy</li>
    </ul>

    <p>Click <a href="/order-pizza">Here</a> to order some pizza.</p>

</body>
</html>
